<div>
    <div class='LoginBanner'>
        

        <ol>
            <li>
              <mat-form-field>
                <input matInput [(ngModel)]="name" placeholder="What's your name?">
              </mat-form-field>
            </li>
            <li>
              <button mat-raised-button (click)="openDialog()">Pick one</button>
            </li>
            <li *ngIf="animal">
              You chose: <i>{{animal}}</i>
            </li>
          </ol>


        <h1>Login to your Account</h1>
    </div>
</div>
<div id="loginsplash">
    <form id="login">
        <hr>
        <span>
            <form>
                <label for="username">Username: </label>
                <input matInput type="text" id="username" [(ngModel)]="usernameInput" name="username">
            </form>
            &nbsp;
            <form>
                <label for="passwd">Password: </label>
                <input matInput type="password" id="passwd" [(ngModel)]="passwordInput" name="passwd">
            </form>
        </span>
        <span><button type="button" id="loginBtn" (click)="logIn()">Submit</button>
            &nbsp;
            <button type="button"><a routerLink="/register" routerLinkActive="active">
                    Register
                </a>
            </button>
        </span>
    </form>
</div>