<div mat-dialog-title class="registration">


            <div mat-dialog-content>
                <div class="row">
                    <div class="mb-3 col">
                        <mat-form-field appearance="outline">
                            <mat-label>First Name: </mat-label>
                            <input matInput type="text" [(ngModel)]="user.firstName" id="firstname" name="firstname"
                                placeholder="Enter Your First Name">
                            <mat-hint>Enter your first name</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col">
                        <mat-form-field appearance="outline">

                            <mat-label>Last Name: </mat-label>
                            <input matInput type="text" [(ngModel)]="user.lastName" id="lastname" name="lastname"
                                placeholder="Enter Your Last Name">
                            <mat-hint>Enter your last name</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">

                    <div class="mb-3 col">
                        <mat-form-field appearance="outline">

                            <mat-label>Username:</mat-label>
                            <input matInput type="text" [(ngModel)]="user.username" id="username" name="username"
                                placeholder="Enter your username">
                            <mat-hint>Enter your username</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="mb-3 col">
                        <mat-form-field appearance="outline">
                            <mat-label>Password:</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.passwd" id="passwd"
                                name="passwd">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>


                            
                        </mat-form-field>
                    </div>
                </div>
                <div class="mb-3">
                    <button mat-raised-button [disabled]="submitting" mat-dialog-close (click)="register()">
                        Save
                    </button>
                    <button mat-raised-button><a routerLink="home" mat-dialog-close>Cancel</a></button>
                </div>
            </div>
       
</div>
