body{
  background-image: url("https://protwo.s3.us-east-2.amazonaws.com/assets/1561985.jpg");
  position:relative;
  background-size:cover;
  // background-color: rgb(70, 38, 38);
}
div {
  font-family:Georgia, 'Times New Roman', Times, serif;
}
